/* **************************************************************************************
 *	File		:	styles.css
 *	Purpose		:	Cascade Style Sheet file for Slots game
 *
 *	Author		:	Rajesh Wadhwani
 *	Created		:	13-Mar-2010
 *	Modified	:	13-Mar-2010, 14-Mar-2010
 *	Copyright	:	Rajesh Wadhwani, 2010
 * ************************************************************************************* */

body {
	font-family: Verdana, Tahoma, Arial, "Times New Roman";
	font-size: 12px;
	width: 100%;
	margin: 0px;
	background-color: #F5F5F5;
}

/* ************************ */
/* Hyper links				*/
/* ************************ */
a.uline-onhover { text-decoration: none; }
a.uline-onhover:hover { text-decoration: underline; }
a.no-uline-onhover { text-decoration: underline; }
a.no-uline-onhover:hover { text-decoration: none; }

/* ************************ */
/* Text formatting			*/
/* ************************ */
.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }

/* ************************ */
/* Text alignment			*/
/* ************************ */
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.float-left { float: left; }
.float-right { float: right; }
.clear { clear: both; }

/* ************************ */
/* Colours					*/
/* ************************ */
.black { color: #000000; }
.white { color: #ffffff; }
.red { color: #dd0000; }
.green { color: #009900; }
.blue { color: #2651A8; }
.dark-grey { color: #404040; }
.light-grey { color: #cdcdcd; }

/* ************************ */
/* Alert messages			*/
/* ************************ */
#msg {
	background-color: #e5e5e5;
	color: #000000;
}
#msg, #error, #alert_msg_box {
	padding: 8px 10px 8px 10px;
	border: 1px solid #a0a0a0;
	font-weight: bold;
	margin-bottom: 12px;
}
#error, #alert_msg_box {
	background-color: #C90000;
	color: #ffffff;
}

/* ************************ */
/* Main body				*/
/* ************************ */
h1 {
	margin-top: 16px;
	padding: 0px 16px 16px 16px;
	color: #1B4F6F;
	font-size: 38px;
	text-shadow: #c4beb5 2px 2px 1px;
	border-bottom: 10px solid #535353;
}

#content {
	position: relative;
	padding: 20px;
}

/* ************************ */
/* Game board				*/
/* ************************ */
.board {
	clear: both;
	background-color: #E5E5E5;
	border-top: 1px solid #8F8F8F;
	border-right: 2px solid #202020;
	border-bottom: 2px solid #202020;
	border-left: 1px solid #8F8F8F;
	width: 680px;
	height: 270px;
	padding: 40px;
	margin-left: 20px;
}
.game-board {
	width: 350px;
	float: left;
}
.game-board #slots-holder {
	float: left;
	padding: 10px;
	background-color: #1B4F6F;				/* disabled: #737985 */
	border: 1px solid #A0A0A0;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
}
.game-board #slots-holder .slot {
	width: 80px;
	min-width: 80px;
	float: left;
	margin: 8px;
	background-color: #F1F1F1;
	border: 1px solid #A0A0A0;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
}
.game-board #slots-holder .slot #slot1, .game-board #slots-holder .slot #slot2, .game-board #slots-holder .slot #slot3 {
	font-size: 65px;
	font-weight: bold;
	text-align: center;
	min-width: inherit;
	min-height: 80px;
}

.game-board #slots-light {
	width: inherit;
	padding: 0px 11px 0px 11px;
	float: left;
}
.game-board #slots-light #light-slot1, .game-board #slots-light #light-slot2, .game-board #slots-light #light-slot3 {
	width: 66px;
	height: 12px;
	float: left;
	margin: 15px;
	text-align: center;
	min-width: inherit;
	background-color: #CFCFCF;
	border: 1px solid #A0A0A0;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
}

.game-board #spin {
	clear: both;
	margin-top: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #00AA00;
	font-weight: bold;
	width: 316px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
}
.game-board #spin:hover { background-color: #009900; }

.controllers {
	float: left;
	width: 320px;
	min-height: 260px;
	margin-left: 10px;
}
.controllers #score-board {
	clear: both;
}
.controllers #score-board .scores-heading {
	clear: both;
	background-color: #CDCDCD;
	border-top: 1px solid #A0A0A0;
	border-bottom: 1px solid #A0A0A0;
}
.controllers #score-board .leftdiv {
	float: left;
	width: 230px;
	text-align: right;
	margin-right: 20px;
}
.controllers #score-board .rightdiv {
	float: left;
	width: 60px;
}
.controllers #score-board .divider {
	clear: both;
	height: 5px;
}
.controllers .leftdiv {
	float: left;
	width: 100px;
}
.controllers .rightdiv {
	float: left;
	width: 220px;
}
.controllers .divider {
	clear: both;
	height: 5px;
}

/* ************************ */
/* Footer					*/
/* ************************ */
#footer {
	padding: 4px;
	text-align: right;
	position: fixed;
	background-color: #E5E5E5;
	border-top: 1px solid #535353;
	font-size: 10px;
	color: #202020;
	width: 99.4%;
	height: 20px;
}
#footer a { text-decoration: none; }
#footer a:hover { text-decoration: underline; }


/* ************************ */
/* Misc						*/
/* ************************ */
input {
	border: 1px solid #8F8F8F;
}
input.button {
	border-top: 1px solid #8F8F8F;
	border-right: 1px solid #202020;
	border-bottom: 1px solid #202020;
	border-left: 1px solid #8F8F8F;
	background-color: #cdcdcd;
	text-align: center;
	min-width: 110px;
	padding: 2px 10px 2px 10px;
	cursor: pointer;
}
